SCE/SCE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="https://www.omg.org/spec/SCE/20211108/MODEL" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	xmlns:scedi="https://www.omg.org/spec/SCE/20211108/SCEDI" 
	targetNamespace="https://www.omg.org/spec/SCE/20211108/MODEL" 
	elementFormDefault="qualified">

	<xsd:import namespace="https://www.omg.org/spec/SCE/20211108/SCEDI" schemaLocation="SCEDI.xsd"/>
	<xsd:include schemaLocation="SCE-Semantic.xsd"/>

	<xsd:element name="SCEModelPackage" type="tSCEModelPackage" abstract="true">
		<xsd:annotation>
			<xsd:documentation>
				This the main SCE package, which contains a set of properties and other elements, that are common to and usable by other modeling 
				specifications. The idea of a “package” is that the package will contain all the elements of a model that is based on that specification. 
				When the content of that model is serialized, the elements will be contained within the package. Some previous BMI specifications 
				have named this packaging element “Definitions.” For example, the BPMN Definitions element is the main package that contains all the 
				Collaborations, Processes, and other elements that make up the BPMN model. The SCEPackage element provides the key 
				attributes and associations that most BMI modeling specifications will need as part of their packaging element.
			</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="tSCEModelPackage">
		<xsd:complexContent>
			<xsd:extension base="tSCEPackage">
				<xsd:sequence>
					<xsd:element name="model" type="tSCEModel" minOccurs="1" maxOccurs="1">
						<xsd:annotation>
							<xsd:documentation>
								This the SCEModel sub-package contained within a SCEModelPackage. This is a subset of the 
								containedPackage association of the SCEPackage element.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="presentation" type="scedi:tSCEDI" minOccurs="0" maxOccurs="unbounded">
						<xsd:annotation>
							<xsd:documentation>
								This attribute contains the Diagram Interchange information contained within this SCEModelPackage.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
				<xsd:attribute name="expressionLanguage" type="xsd:anyURI" use="optional" default="https://www.omg.org/spec/DMN/20230324/FEEL/"/>
				<xsd:attribute name="typeLanguage" type="xsd:anyURI" use="optional" default="https://www.omg.org/spec/DMN/20230324/FEEL/"/>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>
	
</xsd:schema>
