SCE/SCE.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema id="SCE" version="20240210"
    targetNamespace="https://www.omg.org/spec/SCE/"
    xmlns:sce="https://www.omg.org/spec/SCE/"
    xmlns:scedi="https://www.omg.org/spec/SCE/SCEDI/"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    elementFormDefault="qualified" attributeFormDefault="unqualified">

  <!-- The documentation annotations in this file are non-normative.
      They are provided for convenience, but the specification text takes precedence. -->

  <xs:import namespace="https://www.omg.org/spec/SCE/SCEDI/" schemaLocation="SCEDI.xsd"/>

  <xs:element name="model" type="sce:tModel" abstract="true">
    <xs:annotation>
      <xs:documentation>
        This the main SCE package, which contains a set of properties and other elements, that are common to and usable by other modeling
        specifications. The idea of a “package” is that the package will contain all the elements of a model that is based on that specification.
        When the content of that model is serialized, the elements will be contained within the package. Some previous BMI specifications
        have named this packaging element “Definitions.” For example, the BPMN Definitions element is the main package that contains all the
        Collaborations, Processes, and other elements that make up the BPMN model. The Package element provides the key
        attributes and associations that most BMI modeling specifications will need as part of their packaging element.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tModel">
    <xs:annotation>
      <xs:documentation>
        SCE-based languages MAY directly create an element of type
        sce:tModel as their XML root element, e.g.,
        <xs:element name="sharedDataModel" type="sce:tModel"/>
      </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="sce:tPackage">
        <xs:sequence>
          <xs:group ref="sce:elementsOfModel"/>
        </xs:sequence>
        <xs:attributeGroup ref="sce:attributesOfModel"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:group name="elementsOfModel">
    <xs:sequence>
      <xs:element ref="sce:rootElement" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            This is a list of all the RootElements contained within a Model. Many elements will be identified
            through additional associations that subset this property.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="scedi:diagrams" minOccurs="0" maxOccurs="1">
        <xs:annotation>
          <xs:documentation>
            This element contains the Diagram Interchange information contained within this ModelPackage.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="sce:relationship" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            This is a list of all the external Relationships contained within a concrete specialization of Model.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="attributesOfModel">
    <xs:attribute name="exporter" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          identifies the tool that has exported the model file
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="exporterVersion" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          identifies the version of the tool that has exported the model file
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="expressionLanguage" type="xs:anyURI" use="optional" default="https://www.omg.org/spec/DMN/20230324/FEEL/"/>
    <xs:attribute name="typeLanguage" type="xs:anyURI" use="optional" default="https://www.omg.org/spec/DMN/20230324/FEEL/"/>
  </xs:attributeGroup>

  <xs:element name="package" type="sce:tPackage" abstract="true">
    <xs:annotation>
      <xs:documentation>
        Package is a basic capability that is used by the other packaging classes in SCE. Thus, by itself it is not
        contained within any element. Its five sub-classes (listed in the next five sections), will be used to organize
        the types of content that make up a model or set of models (of a language that utilizes SCE). The Model
        is the top-level package used for distribution of the content of a modeling language.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tPackage" abstract="true">
    <xs:complexContent>
      <xs:extension base="sce:tBaseElement">
        <xs:sequence>
          <xs:group ref="sce:elementsOfPackage"/>
        </xs:sequence>
        <xs:attributeGroup ref="sce:attributesOfPackage"/>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:group name="elementsOfPackage">
    <xs:sequence>
      <xs:element ref="sce:import" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            This attribute is used to import externally defined elements and make them available for use by elements within a
            concrete specialization of Package.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="sce:package" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            This provides the capability for all specializations of Package to include sub-packages.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <!-- The metamodel association element:BaseElement[0..*]
        has been deliberately left out in this XML schema because
        sub-classes of Package MUST subset this association anyway
        and sub-setting in XML schema is only possible with a
        xs:restriction layer that completely removes the element
        but repeats all other elements and attributes. -->
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="attributesOfPackage">
    <xs:attribute name="tags" use="optional">
      <xs:annotation>
        <xs:documentation>
          The tags attribute provides another classification mechanism for the Package. This classification could be
          used as part of a search for a particular model that is a concrete specialization of Package, for example.
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:list itemType="xs:string"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="targetNamespace" type="xs:anyURI" use="optional">
      <xs:annotation>
        <xs:documentation>
          This attribute identifies the namespace associated with a concrete specialization of Package and will
          follow the convention established by XML Schema.
          The attribute is optional for backwards compatibility with DMN.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="version" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          This attribute specifies the version of the model package that is dependent on SCE.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="versionDate" type="xs:dateTime" use="optional">
      <xs:annotation>
        <xs:documentation>
          The date when the version of the model package that is dependent on SCE was established.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:attributeGroup>

  <xs:element name="baseElement" type="sce:tBaseElement" abstract="true">
    <xs:annotation>
      <xs:documentation>
        BaseElement is the abstract super class for most SCE elements. Basically, it is the root of the SCE metamodel.
        It provides the basic attributes for id and name,
        and a set of common associations, such as documentation, that are useful for
        most elements of a modeling language. Most of the elements within SCE, and any specification that is dependent on SCE,
        will inherit the attributes and associations of BaseElement.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tBaseElement" abstract="true">
    <xs:sequence>
      <xs:group ref="sce:elementsOfBaseElement"/>
    </xs:sequence>
    <xs:attributeGroup ref="sce:attributesOfBaseElement"/>
  </xs:complexType>
  <xs:group name="elementsOfBaseElement">
    <xs:sequence>
      <xs:element ref="sce:documentation" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            This association is used to annotate any concrete specialization of Element with descriptions and other documentation.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="sce:attachment" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            This association is used to annotate any concrete specialization of Element with one or more attachments.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element ref="sce:extensionElements" minOccurs="0" maxOccurs="1"/>
      <xs:element name="categoryRef" type="xs:QName" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>
            This association is used to categorize any concrete specialization of Element. A Category has user-defined semantics, which
            can be used for documentation or analysis purposes.
          </xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="attributesOfBaseElement">
    <xs:attribute name="id" type="xs:ID" use="optional">
      <xs:annotation>
        <xs:documentation>
          This optional attribute is used to uniquely identify a Element. The id is REQUIRED if this element is referenced or intended to be
          referenced by something else. If the element is not currently referenced and is never intended to be referenced, the id MAY be omitted.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="name" type="xs:string" use="optional">
      <xs:annotation>
        <xs:documentation>
          The name attribute is a text description or label of the element. In general, the name is optional, but many elements will require a name.
          The definition of each specialization of Element will identify this requirement.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <xs:attribute name="aliasIds" use="optional">
      <xs:annotation>
        <xs:documentation>
          Various optional, alternative identifiers for this Element. Generally, these will be set by tools.
        </xs:documentation>
      </xs:annotation>
      <xs:simpleType>
        <xs:list itemType="xs:string"/>
      </xs:simpleType>
    </xs:attribute>
    <xs:attribute name="conceptReference" type="xs:anyURI" use="optional">
      <xs:annotation>
        <xs:documentation>
          This property provides the capability of including a Concept Reference for any Element.
          Most BPM+ models (dependent on SCE) are not intended to define full-scale ontologies or domain models, such as data models.
          However, the activities, decisions, data items, etc. of BPM+ are representative of elements defined by ontologies or data models.
          The specific context of the BPM+ elements may result in different terminology or sub-sets of data representation elements within
          the normative domain models. To reduce any confusion due to terminology or data representation, the BPM+ models dependent on SCE
          have the capability of linking model elements to the appropriate external source of truth for their domain. The Concept Reference
          is that mechanism in SCE.
          It is expected that the value of the URI is persistent.
        </xs:documentation>
      </xs:annotation>
    </xs:attribute>
    <!-- extension attributes -->
    <xs:anyAttribute namespace="##other" processContents="lax"/>
  </xs:attributeGroup>

  <xs:element name="extensionElements" type="sce:tExtensionElements"/>
  <xs:complexType name="tExtensionElements">
    <xs:sequence>
      <xs:any namespace="##other" processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="documentation" type="sce:tDocumentation">
    <xs:annotation>
      <xs:documentation>
        The Documentation element provides a place for model developers to provide descriptive information about a model element.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tDocumentation" mixed="true">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax" minOccurs="0">
        <xs:annotation>
          <xs:documentation>Added for backwards compatibility with BPMN and CMMN.</xs:documentation>
        </xs:annotation>
      </xs:any>
    </xs:sequence>
    <xs:attribute name="id" type="xs:ID" use="optional"/>
    <xs:attribute name="textFormat" type="xs:string" default="text/plain"/>
  </xs:complexType>

  <xs:element name="attachment" type="sce:tAttachment">
    <xs:annotation>
      <xs:documentation>
        The Attachment element provides a place for model developers to provide attached documents to a model element.
        The Attachment element is contained within a concrete specialization of Element. Thus, any concrete element within a model
        that is dependent on SCE MAY have one or more Attachments.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tAttachment">
    <xs:complexContent>
      <xs:extension base="sce:tBaseElement">
        <xs:attribute name="attachmentLocation" type="xs:anyURI" use="required">
          <xs:annotation>
            <xs:documentation>
              This attribute identifies the URI location of the attachment.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="import" type="sce:tImport">
    <xs:annotation>
      <xs:documentation>
        The Import class is used by an implementation of a modeling specification (i.e., a model), dependent on SCE, when referencing an
        external element that is contained in a different model. The referenced model can be of the same or different type of modeling
        specification. For example, one SDMN model may import the Data Items from another SDMN model.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tImport">
    <xs:complexContent>
      <xs:extension base="sce:tBaseElement">
        <xs:attribute name="importType" type="xs:anyURI" use="required">
          <xs:annotation>
            <xs:documentation>
              Identifies the type of document being imported by providing an absolute URI that identifies the encoding language used in the
              document, e.g. when importing XML Schema 1.0 documents the value of the importType attribute MUST be set to
              http://www.w3.org/2001/XMLSchema. Other types of documents MAY be supported, e.g., BPMN, DMN, or any SCE-based language.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="location" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
              Identifies the location of the imported element within the document identified by the importType.
              The attribute is optional for backwards compatibility with DMN.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="namespace" type="xs:anyURI" use="optional">
          <xs:annotation>
            <xs:documentation>
              Identifies the namespace of the imported element.
              The attribute is optional for backwards compatibility with CMMN.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="relationship" type="sce:tRelationship"/>
  <xs:complexType name="tRelationship">
    <xs:complexContent>
      <xs:extension base="sce:tBaseElement">
        <xs:sequence>
          <xs:element name="sourceRef" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>
                This association defines artifacts that are augmented by the external relationship.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="targetRef" type="xs:anyURI" minOccurs="1" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>
                This association defines artifacts used to extend the semantics of the source element(s).
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="direction" type="sce:tRelationshipDirection" use="required">
          <xs:annotation>
            <xs:documentation>
              This attribute specifies the direction of the relationship.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tRelationshipDirection">
    <xs:annotation>
      <xs:documentation>
        This enumeration list specifies the direction of the Relationship.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="Both">
        <xs:annotation>
          <xs:documentation>
            This literal specifies that the Relationship is in the direction from the target to the source and from the source to the target.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Backward">
        <xs:annotation>
          <xs:documentation>
            This literal specifies that the Relationship is in the direction from the target to the source.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="None">
        <xs:annotation>
          <xs:documentation>
            This literal specifies that the Relationship between the source and target is none.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
      <xs:enumeration value="Forward">
        <xs:annotation>
          <xs:documentation>
            This literal specifies that the Relationship is in the direction from the source to the target.
          </xs:documentation>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="rootElement" type="sce:tRootElement" abstract="true">
    <xs:annotation>
      <xs:documentation>
        RootElement is the abstract super class for all SCE elements that are contained within Model.
        Depending on their use, RootElements can be referenced by multiple other elements, i.e., they can be reused.
        Some RootElements MAY be contained within other elements instead of Model.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tRootElement" abstract="true">
    <xs:complexContent>
      <xs:extension base="sce:tBaseElement"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="modelArtifact" type="sce:tModelArtifact" abstract="true" substitutionGroup="sce:rootElement">
    <xs:annotation>
      <xs:documentation>
        A ModelArtifact is an object that provides supporting information about a model. However, it does not have any behavioral semantics.
        The ModelArtifact element is an abstract element that inherits the attributes of Element. ModelArtifacts are contained within a
        model type that is defined by a modeling language that extends Model. This will usually be a concrete specialization of a
        sub-package Model or a sub-package Instances. At this point, SCE provides three standard Artifacts: Associations, Groups,
        and Text Annotations. Additional Artifacts MAY be added to the SCE specification in later versions. A modeler or modeling tool MAY
        extend a diagram and add new types of ModelArtifacts. Any new ModelArtifacts MUST follow the connector connection rules defined in
        the modeling specification that is dependent on SCE. Associations can be used to link ModelArtifacts to diagram elements and other ModelArtifacts.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tModelArtifact" abstract="true">
    <xs:complexContent>
      <xs:extension base="sce:tRootElement"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="association" type="sce:tAssociation" substitutionGroup="sce:modelArtifact">
    <xs:annotation>
      <xs:documentation>
        An Association is used to associate ModelArtifacts (often Text Annotations) to other diagram elements. If a ModelArtifact extension,
        such as an image, is added to the model, then that new ModelArtifact can be connected by an Association. A modeler can set the direct
        of the association such that the connector line will have an arrowhead on either one end or both. The presence of one or two arrowheads
        does not have any specific semantic meaning but may provide a visual queue about the nature of the association.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tAssociation">
    <xs:complexContent>
      <xs:extension base="sce:tModelArtifact">
        <xs:attribute name="sourceRef" type="xs:QName" use="optional">
          <xs:annotation>
            <xs:documentation>
              The Element that the Association is connecting from.
              This attribute is optional for backwards compatibility with CMMN.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="targetRef" type="xs:QName" use="optional">
          <xs:annotation>
            <xs:documentation>
              The Element that the Association is connecting to.
              This attribute is optional for backwards compatibility with CMMN.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="associationDirection" type="sce:tAssociationDirection" use="optional" default="None">
          <xs:annotation>
            <xs:documentation>
              AssociationDirection is an attribute that defines whether or not the Association shows any directionality with
              an arrowhead. The default is “None” (no arrowhead). A value of “One” means that the arrowhead SHALL be at the
              Target Object. A value of “Both” means that there SHALL be an arrowhead at both ends of the Association line.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:simpleType name="tAssociationDirection">
    <xs:annotation>
      <xs:documentation>
        AssociationDirection is an enumerated list that defines the options regarding whether or not an Association shows any directionality
        with an arrowhead. The default is “None” (no arrowhead). A value of “One” means that the arrowhead SHALL be at the Target Object. A
        value of “Both” means that there SHALL be an arrowhead at both ends of the Association line.
      </xs:documentation>
    </xs:annotation>
    <xs:restriction base="xs:string">
      <xs:enumeration value="None"/>
      <xs:enumeration value="One"/>
      <xs:enumeration value="Both"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:element name="group" type="sce:tGroup" substitutionGroup="sce:modelArtifact">
    <xs:annotation>
      <xs:documentation>
        The Group object is a ModelArtifact that provides a visual mechanism to informally group elements of a diagram. Groups are often
        used to highlight certain sections of a diagram without adding additional constraints or semantics. The highlighted (grouped)
        section of the diagram can be separated for reporting and analysis purposes.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tGroup">
    <xs:complexContent>
      <xs:extension base="sce:tModelArtifact"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="textAnnotation" type="sce:tTextAnnotation" substitutionGroup="sce:modelArtifact">
    <xs:annotation>
      <xs:documentation>
        Text Annotations are a mechanism for a modeler to provide additional information for the reader of a SDMN Model.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tTextAnnotation">
    <xs:complexContent>
      <xs:extension base="sce:tModelArtifact">
        <xs:sequence>
          <xs:element ref="sce:text" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                text is one of two attributes that provides text that the modeler wishes to communicate to the reader of the diagram.
                The text within a text is contained in and specific to the diagram where the TextAnnotation is placed. This attribute is optional,
                but if it used, then the useDocumentation attribute SHALL NOT be used.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="textFormat" type="xs:string" use="optional" default="text/plain">
          <xs:annotation>
            <xs:documentation>
              This attribute identifies the format of the text.
              It MUST follow the mime-type format.
              The default is "text/plain."
              This attribute is optional, but if useDocumentation
              is used, then this attribute SHALL NOT be used.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="useDocumentation" type="xs:boolean" use="optional" default="false">
          <xs:annotation>
            <xs:documentation>
              useDocumentation is one of two attributes that provides text that
              the modeler wishes to communicate to the reader of the model. This
              flag will allow a TextAnnotation to display the Documentation of the
              model element that the TextAnnotation is associated with, i.e., is
              connected to by an Association.
              This attribute is optional, but if it used, then the text and
              textformat attribute SHALL NOT be used.
              This MUST not be true if there is no Association.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="text" type="sce:tText"/>
  <xs:complexType name="tText" mixed="true">
    <xs:sequence>
      <xs:any namespace="##any" processContents="lax" minOccurs="0" maxOccurs="unbounded">
        <xs:annotation>
          <xs:documentation>Added for backwards compatibility with BPMN.</xs:documentation>
        </xs:annotation>
      </xs:any>
    </xs:sequence>
  </xs:complexType>

  <xs:element name="category" type="sce:tCategory" substitutionGroup="sce:rootElement">
    <xs:annotation>
      <xs:documentation>
        A Category, which have user-defined semantics, can be used for documentation or metadata organizational purposes. For example,
        recommendations (in the healthcare domain) can be assigned a category of “Lifestyle Modification” with further breakdowns into
        “Weight Reduction”, “Exercise Program”, and “Diet Modification” sub-categories.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tCategory">
    <xs:complexContent>
      <xs:extension base="sce:tRootElement">
        <xs:sequence>
          <xs:element ref="sce:category" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>
                This association allows the nesting of Categories. A Category MAY have more than one child Category.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>


  <xs:element name="elementType" type="sce:tElementType" abstract="true" substitutionGroup="sce:rootElement">
    <xs:annotation>
      <xs:documentation>
        A kind of Element that is the type or specification of a TypedElement.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tElementType" abstract="true">
    <xs:complexContent>
      <xs:extension base="sce:tRootElement"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="typedElement" type="sce:tTypedElement" abstract="true" substitutionGroup="sce:rootElement">
    <xs:annotation>
      <xs:documentation>
        A kind of Element that has zero or more ElementTypes, identified by the typeRef attribute.
        The ElementType(s), if present, provide a specification for the element.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tTypedElement" abstract="true">
    <xs:complexContent>
      <xs:extension base="sce:tRootElement">
        <xs:sequence>
          <xs:element name="typeRef" type="xs:QName" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>
                The class(es) that provide(s) a specification of the Element. This usually is applied to the concrete
                Element that serves as an instance in a runtime model.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="elementRelationshipType" type="sce:tElementRelationshipType" substitutionGroup="sce:elementType">
    <xs:annotation>
      <xs:documentation>
        A kind of ElementRelationship that specifies two ElementTypes (rather than Elements). The RelationshipType enumeration
        element identify specific types of relationships.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tElementRelationshipType">
    <xs:complexContent>
      <xs:extension base="sce:tElementType">
        <xs:sequence>
          <xs:element name="sourceRef" type="xs:QName" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                The source ElementType of the relationship.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="targetRef" type="xs:QName" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                The one or more target ElementTypes of the relationship.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="relationshipKindRef" type="xs:QName" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                A description of the type of the relationship. See the RelationshipType enumeration, below, for more details.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
        <xs:attribute name="sourceMultiplicity" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
              This attribute defines the minimum number of target Elements that may be the source for the ElementRelationship
              that identifies this ElementRelationshipType source its typeRef association.
            </xs:documentation>
          </xs:annotation>
        </xs:attribute>
        <xs:attribute name="targetMultiplicity" type="xs:string" use="optional">
          <xs:annotation>
            <xs:documentation>
              This attribute defines the minimum number of target Elements that may be the source for the ElementRelationship
              that identifies this ElementRelationshipType through its typeRef association.
              </xs:documentation>
          </xs:annotation>
        </xs:attribute>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="elementRelationship" type="sce:tElementRelationship" substitutionGroup="sce:typedElement">
    <xs:annotation>
      <xs:documentation>
        A kind of relationships between two Elements. The RelationshipType enumeration element identify specific types of relationships.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tElementRelationship">
    <xs:complexContent>
      <xs:extension base="sce:tTypedElement">
        <xs:sequence>
          <xs:element name="sourceRef" type="xs:QName" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                The source Element of the relationship. If there is an ElementRelationshipType identified
                through the typeRef association, then the source must be a TypedElement.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="targetRef" type="xs:QName" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                The target concrete specialization of Element of the relationship. If there is an ElementRelationshipType identified
                through the typeRef association, then the target must be a TypedElement.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="typeRef" type="xs:QName" minOccurs="0" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                the type should be tElementTypeRelation
                The target concrete specialization of Element of the relationship.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
          <xs:element name="relationshipKindRef" type="xs:QName" minOccurs="1" maxOccurs="1">
            <xs:annotation>
              <xs:documentation>
                A description of the type of the relationship. See the RelationshipType enumeration, below, for more details.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="kindSet" type="sce:tKindSet" abstract="true" substitutionGroup="sce:package">
    <xs:annotation>
      <xs:documentation>
        This is a list of terms (Kinds) that can be used to define the meaning of elements of a concrete
        specialization of Package. Multiple KindSets can be defined. They are contained in an Package.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tKindSet" abstract="true">
    <xs:complexContent>
      <xs:extension base="sce:tPackage">
        <xs:sequence>
          <xs:element ref="sce:kind" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>
                The extendable list of enumerated terms is a set of Kinds.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="kind" type="sce:tKind" abstract="true">
    <xs:annotation>
      <xs:documentation>
        A Kind is one of a set of Kinds (terms) that make up an extendable enumerated list of values for a text-based property of an
        element property.
      </xs:documentation>
    </xs:annotation>
  </xs:element>
  <xs:complexType name="tKind" abstract="true">
    <xs:complexContent>
      <xs:extension base="sce:tBaseElement"/>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="relationshipKindSet" type="sce:tRelationshipKindSet"/>
  <xs:complexType name="tRelationshipKindSet">
    <xs:complexContent>
      <xs:extension base="sce:tKindSet">
        <xs:sequence>
          <xs:element ref="sce:relationshipKind" minOccurs="0" maxOccurs="unbounded">
            <xs:annotation>
              <xs:documentation>
                Element Role: kind
                The extendable list of enumerated terms is a set of Kinds.
                This redefines the kind association of KindSet.
              </xs:documentation>
            </xs:annotation>
          </xs:element>
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>

  <xs:element name="relationshipKind" type="sce:tRelationshipKind"/>
  <xs:complexType name="tRelationshipKind">
    <xs:complexContent>
      <xs:extension base="sce:tKind"/>
    </xs:complexContent>
  </xs:complexType>

</xs:schema>
